---
layout: default
title: blog.roomanna.com
---
<div>
  <div class="columns">
    <div class="flex">
      <article class="post">
        <header><h2><img src="/img/kurrik-60.png"/> Recent <strong>Entries</strong></h2></header>
      </article>
  {% for post in site.posts %}
      <article class="index flex">
        <header>
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <div class="date">{{ post.date | date_to_string }}</div>
        </header>
        <section>
          {{ post.preview }}
        </section>
        <section>
          <a href="{{ post.url }}">Read more...</a>
        </section>
      </article>
  {% endfor %}
    </div>
    <div class="panel">
      {% include sidebar.html %}
    </div>
  </div>
</div>