<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="/css/base.css" />
    <script src="/libs/syntaxhighlighter/scripts/shCore.js"></script>
    <script src="/libs/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script src="/libs/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <link rel="stylesheet" href="/libs/syntaxhighlighter/styles/shCore.css" />
    <link rel="stylesheet" href="/libs/syntaxhighlighter/styles/shThemeDefault.css" />
  </head>
  <body>
    <header class="site">
      <a href="/">Welcome to <strong>blog.roomanna.com</strong>, personal site of <strong>Arne Roomann-Kurrik</strong></a>
    </header>
    <div id="content" class="columns">
{{ content }}
    </div>
    <script>
      SyntaxHighlighter.defaults['gutter'] = false;
      SyntaxHighlighter.defaults['smart-tabs'] = false;
      SyntaxHighlighter.defaults['toolbar'] = false;
      SyntaxHighlighter.all();
    </script>
  </body>
</html>

