---
layout: default
---
<div>
  <div class="columns">
    <div class="content">
      <header class="page"><h1>{{ page.title }}</h1></header>
      <article>{{ content }}</article>
      <div id="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'roomanna';
          var disqus_identifier = '{{ page.id }}';
          var disqus_url = '{{ site.url }}{{ page.url }}';
        </script>
        <script src="//roomanna.disqus.com/embed.js" async></script>
      </div>
    </div>
    <div class="panel">
      <div class="metadata sidebar">
        <p>
          This page was published on
          <strong>{{ page.date | date_to_string }}</strong>
        </p>
        <p>
          Filed under
          {% for tag in page.tags %}
            <strong><a href="/tag/{{ tag }}">{{ tag }}</a></strong>
            {% if forloop.last == false %},&nbsp;{% endif %}
          {% endfor %}
        </p>
        <p>
          Obtain a semi-permanent link by referencing this
          <strong><a href="{{ page.url }}">quasilink</a></strong>
        </p>
        <p>
          Or just jump to the <strong><a href="#comments">comments</a></strong>
        <p>
        <p>Maybe you feel like issuing a
          <p><a href="https://twitter.com/share"
             class="twitter-share-button"
             data-count="horizontal"
             data-text="Just read '{{page.title}}'"
             data-via="kurrik">Tweet</a></p></p>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
</div>
