---
layout: default
---
<div>
  <div class="columns">
    <div class="content">
      <header class="page"><h1>{{ page.title }}</h1></header>
      <article>{{ content }}</article>
    </div>
    <div class="panel">
      <div class="metadata sidebar">
        <p>
          This page was published on 
          <strong>{{ page.date | date_to_string }}</strong>
        </p>
        <p>
          Filed under
          {% for tag in page.tags %}
            <strong><a href="/tag/{{ tag }}">{{ tag }}</a></strong>
            {% if forloop.last == false %},&nbsp;{% endif %}
          {% endfor %}
        </p>
        <p>
          Obtain a semi-permanent link by referencing this 
          <strong><a href="{{ page.url }}">quasilink</a></strong>
        </p>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
</div>
