/* Vars defined in common/_roomanna.config.scss */

.circ {
    fill: #D35400;
    opacity: 0.6;
    stroke: rgba(211, 84, 0, 0.7);
    stroke-width: 5px;
}
:global(.domain) {
    display: none;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 12px;
}
:global(.tick) line {
    stroke: #d5d5d5;
    opacity: 0.7;
}

.series {
}

.point {
}

.highlight {
  fill: var(--color-blue);
  opacity: 0.3;
}

.chart {
}

.label {
  font-weight: bold;
}
