:global #svg {
  box-sizing: content-box;
  border: 2px solid #eeeddd;
  margin: 0 auto;
  display: block;
  background: #fffeee;
  cursor: pointer;
}
:global #points {
  margin-bottom: 10px;
}
:global #demosvg table {
  table-layout: fixed;
}
:global #demosvg table tbody tr th {
  vertical-align: middle;
  width: 100px;
}

.point {
  color: #437F97;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}
.point.active {
  color: #FFB30F;
}
.point.hover {
  color: #FC020A;
}
rect.point {
  fill: #437F97;
  cursor: pointer;
}
rect.point.active {
  fill: #FFB30F;
}
rect.point.hover {
  fill: #FC020A;
}
rect.border {
  fill: transparent;
  stroke: #FC020A;
  stroke-width: 2px;
}
