.point {
  color: #437F97;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}
.point.active {
  color: #FFB30F;
}
.point.hover {
  color: #FC020A;
}
.entry {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #999;
  background: #efefef;
  cursor: pointer;
}
.entry .value {
  color: #437F97;
}
.entry.active .value {
  color: #FFB30F;
}
.entry.hover .value {
  color: #FC020A;
}
.entry .index {
  color: #999;
}
rect.point {
  fill: #437F97;
  cursor: pointer;
}
rect.point.active {
  fill: #FFB30F;
}
rect.point.hover {
  fill: #FC020A;
}
rect.border {
  fill: transparent;
  stroke: #FC020A;
  stroke-width: 2px;
}
