{{define "gallery"}}
<div class="roomanna-gallery" itemscope itemtype="http://schema.org/ImageGallery">
{{range .}}<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="{{.Data.Path}}" itemprop="contentUrl" data-size="{{.Data.Width}}x{{.Data.Height}}">
    <img src="{{.Variants.thumb.Path}}" itemprop="thumbnail" width="{{.Variants.thumb.Width}}" height="{{.Variants.thumb.Height}}" />
  </a>
  {{with .Metadata.alt}}
    <figcaption itemprop="caption description">{{.}}</figcaption>
  {{end}}
  {{if .Metadata.reference}}
    <figcaption class="reference">
      <a href="{{.Metadata.referenceurl}}" class="tooltip-trigger" data-placement="bottom" title="{{.Metadata.reference}}" target="_blank">Reference</a>
    </figcaption>
  {{end}}
</figure>{{end}}
</div>
{{end}}
