<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,500,100italic,300italic,500italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/roomanna-blog.min.css" />
    {{template "head" .}}
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
    <meta property="twitter:account_id" content="7588892" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script>
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-5452579-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span2">
          <header id="roomanna">
            <a href="/"><span class="subtitle">blog</span><span class="title">roomanna</span></a>
          </header>
          {{template "sidebar" .}}
        </div>
        <div class="span8 maincolumn">
          {{template "body" .}}
        </div>
      </div>
    </div>
    <footer class="site">
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
            Except where noted, the content at <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">blog.roomanna.com</span> is created by <a xmlns:cc="http://creativecommons.org/ns#" href="http://roomanna.com" property="cc:attributionName" rel="cc:attributionURL">Arne Roomann-Kurrik</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.  Please let me know if you use it anywhere!
            The source code for this site is available from <a href="http://github.com/kurrik/roomanna/">github</a>.
          </div>
        </div>
      </div>
    </footer>
    <script src="/static/js/roomanna-blog.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      $('.tooltip-trigger').tooltip();
    </script>
    {{template "scripts" .}}
  </body>
</html>
