{{define "meta"}}
  <div class="site-accounts">
    <h3 class="post-title">Elsewhere</h3>
      <a target="_blank" rel="me" href="https://twitter.com/kurrik">Twitter</a> (@kurrik)
      <a target="_blank" rel="me" href="https://github.com/kurrik">Github</a> (kurrik)
      <a target="_blank" rel="me" href="https://www.youtube.com/user/roomanna/videos">YouTube</a> (kurrik)
      <a target="_blank" rel="me" href="https://linkedin.com/in/kurrik">Linkedin</a> (kurrik)
      <a target="_blank" rel="me" href="https://www.instagram.com/roomanna/">Instagram</a> (roomanna)
  </div>
  <div class="site-tagcounts">
    <h3 class="post-title">Tags</h3>
    {{range $tc := .Site.TagCounts}}
      <a class="tag" href="/tags/{{$tc.Tag}}">{{$tc.Tag}}</a> ({{$tc.Count}})
    {{end}}
  </div>
{{end}}
