{{define "meta"}}
  <div class="accounts">
    <h3 class="posttitle">Elsewhere</h3>
      <a target="_blank" rel="me" href="https://twitter.com/kurrik">Twitter</a> (@kurrik)
      <a target="_blank" rel="me" href="https://github.com/kurrik">Github</a> (kurrik)
      <a target="_blank" rel="me" href="https://plus.google.com/+kurrik?rel=author">Google+</a> (+kurrik)
      <a target="_blank" rel="me" href="https://linkedin.com/in/kurrik">Linkedin</a> (kurrik)
  </div>
  <div class="tagcounts">
    <h3 class="posttitle">Tags</h3>
    {{range $tc := .Site.TagCounts}}
      <a class="tag" href="/tags/{{$tc.Tag}}">{{$tc.Tag}}</a> ({{$tc.Count}})
    {{end}}
  </div>
{{end}}
