{{define "post-metadata"}}
<div class="post-metadata">
  <svg class="i small"><use xlink:href="#i-clock" /></svg>
  <span class="post-date">{{.FormattedDate}}</span>
  <svg class="i small"><use xlink:href="#i-tag" /></svg>
  {{range .Tags}}<a href="/tags/{{.}}" class="tag">{{.}}</a> {{end}}
</div>
{{end}}
