{{define "head"}}
  <title>{{.Post.Title}} - {{.Site.Title}}</title>
  <link rel="canonical" href="{{.Post.Permalink}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kurrik" />
  <meta name="twitter:url" content="{{.Post.Permalink}}" />
  <meta name="twitter:title" content="{{textcontent .Post.Title}}" />
  {{$img := .Post.Image "twitter-card" -}}
  {{if $img -}}
    <meta name="twitter:image" content="{{$img.Data.Permalink}}" />
  {{- end}}
  <meta name="twitter:description" content="{{textcontent .Post.Snippet}}" />
{{end}}
{{define "styles"}}
  {{range .Post.Styles}}<link rel="stylesheet" href="{{.}}?v={{$.Site.Rendered.Unix}}" />{{end}}
{{end}}
{{define "scripts"}}
  {{range .Post.Scripts}}<script src="{{.}}?v={{$.Site.Rendered.Unix}}"></script>{{end}}
{{end}}
{{define "body"}}
  <article>
    <h1 class="post-title">{{.Post.Title}}</h1>
    {{template "post-metadata" .Post}}
    <div class="post-content">{{.Post.Body}}</div>
  </article>
  <nav class="site-pager" aria-label="Site navigation">
    <ul class="pagination justify-content-center">
      {{if .Post.Next}}
      <li class="page-item w-50">
        <a class="page-link text-center" href="{{.Post.Next.Path}}"><span>&larr; Newer - {{.Post.Next.Title}}</span></a>
      </li>
      {{else}}
      <li class="page-item disabled w-50">
        <a class="page-link text-center" href="#"><span>&larr; No newer posts<span></a>
      </li>
      {{end}}
      {{if .Post.Prev}}
        <li class="page-item w-50">
          <a class="page-link text-center" href="{{.Post.Prev.Path}}"><span>Older - {{.Post.Prev.Title}} &rarr;</span></a>
        </li>
      {{else}}
        <li class="page-item disabled w-50">
          <a class="page-link text-center" href="#"><span>No older posts &rarr;</span></a>
        </li>
      {{end}}
    </ul>
  </nav>
  <div class="site-comments">
    <p class="alert alert-info">
      <strong>Comments?</strong>
      If you have feedback, please
      <a href="https://twitter.com/intent/tweet?text=@kurrik&url={{.Post.Permalink}}">share it with me on Twitter</a>!
    </p>
  </div>
  {{template "meta" .}}
{{end}}
