{{define "head"}}
  <title>{{.Post.Title}} - {{.Site.Title}}</title>
  <link rel="canonical" href="{{.Post.Permalink}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kurrik" />
  <meta name="twitter:url" content="{{.Post.Permalink}}" />
  <meta name="twitter:title" content="{{textcontent .Post.Title}}" />
  {{with .Post.Image "twitter-card" -}}
    <meta name="twitter:image" content="{{.Data.Path}}" />
  {{- end}}
  <meta name="twitter:description" content="{{textcontent .Post.Snippet}}" />
{{end}}
{{define "styles"}}
  {{range .Post.Styles}}<link rel="stylesheet" href="{{.}}?v={{$.Site.Rendered.Unix}}" />{{end}}
{{end}}
{{define "scripts"}}
  {{range .Post.Scripts}}<script src="{{.}}?v={{$.Site.Rendered.Unix}}"></script>{{end}}
{{end}}
{{define "body"}}
  <article>
    <h2 class="posttitle">{{.Post.Title}}</h2>
    <p class="muted metadata">
      <i class="icon-time"></i>
      <span class="postdate">{{.Post.FormattedDate}}</span>
      <i class="icon-tags"></i>
      {{range .Post.Tags}}<a href="/tags/{{.}}" class="tag">{{.}}</a> {{end}}
    </p>
    <div class="postbody">{{.Post.Body}}</div>
  </article>
  <ul class="pager">
    {{if .Post.Next}}
    <li class="previous">
      <a href="{{.Post.Next.Path}}">&larr; Newer - {{.Post.Next.Title}}</a>
    </li>
    {{else}}
      <li class="previous disabled">
        <a href="#">&larr; No newer posts</a>
      </li>
    {{end}}
    {{if .Post.Prev}}
      <li class="next">
        <a href="{{.Post.Prev.Path}}">Older - {{.Post.Prev.Title}} &rarr;</a>
      </li>
    {{else}}
      <li class="next disabled">
        <a href="#">No older posts &rarr;</a>
      </li>
    {{end}}
  </ul>
  <div id="comments">
    <p class="alert alert-info">
      <strong>Comments?</strong>
      In the interest of limiting third-party Javascript running on this
      site, I've disabled all commenting plugins.  If you have feedback, please
      <a href="https://twitter.com/intent/tweet?text=@kurrik&url={{.Post.Permalink}}">share it with me on Twitter</a>.
    </p>
  </div>
  {{template "meta" .}}
{{end}}
