{{define "sidebar"}}
<ul class="list-group list-group-flush site-sidebar">
  <li class="list-group-item list-group-item-success d-none d-md-block">
    <svg class="i small"><use xlink:href="#i-user" /></svg>
    <span>Navigation</span>
  </li>
  <a class="list-group-item list-group-item-action" href="/archive.html">
    <svg class="i small"><use xlink:href="#i-portfolio" /></svg>
    <span>All Posts</span>
  </a>
  <a class="list-group-item list-group-item-action align-items-center d-none d-md-block" href="/atom.xml" target="_blank">
    <svg class="i small"><use xlink:href="#i-download" /></svg>
    <span>Atom Feed</span>
  </a>
  <a class="list-group-item list-group-item-action align-items-center" href="https://twitter.com/kurrik" target="_blank">
    <svg class="i small"><use xlink:href="#i-twitter" /></svg>
    <span>@kurrik</span>
  </a>
  <a class="list-group-item list-group-item-action align-items-center" href="https://www.instagram.com/roomanna" target="_blank">
    <svg class="i small"><use xlink:href="#i-instagram" /></svg>
    <span>roomanna</span>
  </a>
  {{if .Post}}
    <li class="list-group-item list-group-item-warning d-none d-md-block">
      <svg class="i small"><use xlink:href="#i-file" /></svg>
      <span>This Post</span>
    </li>
    <a class="list-group-item list-group-item-action align-items-center" href="{{.Post.Permalink}}">
      <svg class="i small"><use xlink:href="#i-link" /></svg>
      <span>Permalink</span>
    </a>
    {{if .Post.Next}}
      <a class="list-group-item list-group-item-action align-items-center tooltip-trigger" data-placement="right" href="{{.Post.Next.Path}}" title="{{.Post.Next.Title}}">
        <svg class="i small"><use xlink:href="#i-arrow-left" /></svg>
        <span>Newer Post</span>
      </a>
    {{end}}
    {{if .Post.Prev}}
      <a class="list-group-item list-group-item-action align-items-center tooltip-trigger" data-placement="right" href="{{.Post.Prev.Path}}" title="{{.Post.Prev.Title}}">
        <svg class="i small"><use xlink:href="#i-arrow-right" /></svg>
        <span>Older Post</span>
      </a>
    {{end}}
    <a class="list-group-item list-group-item-action align-items-center" href='https://twitter.com/intent/tweet?text={{urlquery "'" .Post.Title "' by @kurrik " .Post.Permalink}}' target="_blank">
      <svg class="i small"><use xlink:href="#i-twitter" /></svg>
      <span>Tweet this</span>
    </a>
  {{end}}
</ul>
{{end}}
