{{define "sidebar"}}
<nav class="Sidebar">
  <ul class="Navigation">
    <li class="Navigation-header">Navigation</li>
    <li><a href="/archive.html">All Posts</a></li>
    <li><a href="/atom.xml">Atom <img src="/static/img/rss-icon.png"/></a></li>
    <li>
      <a href="https://twitter.com/kurrik"
        class="twitter-follow-button"
        data-show-count="false">Follow @kurrik</a>
    </li>
    {{if .Post}}
    <li class="Navigation-header">This Post</li>
    <li><a href="{{.Post.Permalink}}">Permalink</a></li>
    {{if .Post.Next}}
    <li><a href="{{.Post.Next.Path}}" class="tooltip-trigger" data-placement="right" title="{{.Post.Next.Title}}">Next &rarr;</a></li>
    {{end}}
    {{if .Post.Prev}}
    <li><a href="{{.Post.Prev.Path}}" class="tooltip-trigger" data-placement="right" title="{{.Post.Prev.Title}}">Prev &larr;</a></li>
    {{end}}
    <li>
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-count="horizontal"
         data-text="Just read '{{.Post.Title}}'"
         data-via="kurrik">Tweet</a>
    </li>
    {{end}}
  </ul>
</nav>
{{end}}
