{{define "head"}}
  <title>{{.Site.Title}} - '{{.Tag}}' posts</title>
{{end}}
{{define "body"}}
  <header class="site-header">
    <h1>{{.Tag}}</h1>
    <p>Posts tagged with <em>{{.Tag}}</em> ordered by date, newest at the top.</p>
  </header>
  <div class="postlist">
  {{range .Posts}}
    {{template "post-summary" .}}
  {{end}}
  </div>
  {{template "meta" .}}
{{end}}`
