/* Vars defined in common/_roomanna.config.scss */

:global .node-editor {
  border: 1px solid var(--color-gray-light);
  height: 300px;
}

:global #puzzle02 .node-editor {
  height: 430px;
}

:global .node-editor, :global .buttons, :global .results {
  margin-bottom: 20px;
}

:global .node .socket.sequence {
  background: var(--color-green);
}

:global .node .socket.number {
  background: var(--color-red);
}

:global .table th {
  width: 150px;
}
