@import 'common/roomanna.config.css';

:global .node-editor {
  min-height: 100px;
  border: 1px solid var(--color-gray-light);
}

:global .node-editor, :global .buttons, :global .results {
  margin-bottom: 20px;
}

:global .node .socket.sequence {
  background: var(--color-green);
}

:global .node .socket.number {
  background: var(--color-red);
};
