<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    {{template "head" .}}
    <title>{{.Site.Title}} - {{.Post.Title}}</title>
    <link rel="canonical" href="{{.Post.Permalink}}" />
  </head>
  <body>
    <header class="site">
      <div class="container">
        <div class="row">
          <div class="span12">
            <a href="/">Welcome to <strong>blog.roomanna.com</strong>,
            personal site of <strong>Arne Roomann-Kurrik</strong></a>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="span9">
          {{template "body" .}}
        </div>
        <div class="span3">
          {{template "sidebar" .}}
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-1.8.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
