<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.2.2.2.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/site.css" />
    {{template "head" .}}
    <title>{{.Site.Title}} - {{.Post.Title}}</title>
    <link rel="canonical" href="{{.Post.Permalink}}" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5452579-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header class="site">
      <div class="container">
        <div class="row">
          <div class="span12">
            <a href="/">Welcome to <strong>blog.roomanna.com</strong>,
            personal site of <strong>Arne Roomann-Kurrik</strong></a>
          </div>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="span9 content">
            {{template "body" .}}
          </div>
          <div class="span3">
            {{template "sidebar" .}}
          </div>
        </div>
      </div>
    </div>
    <footer class="site">
      <div class="container">
        <div class="row">
          <div class="span12">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
            Except where noted, the content at <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">blog.roomanna.com</span> is created by <a xmlns:cc="http://creativecommons.org/ns#" href="http://roomanna.com" property="cc:attributionName" rel="cc:attributionURL">Arne Roomann-Kurrik</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.  Please let me know if you use it anywhere!
            The source code for this site is available from <a href="http://github.com/kurrik/roomanna/">github</a>.
          </div>
        </div>
      </div>
    </footer>
    <script src="/static/js/jquery-1.8.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//platform.twitter.com/widgets.js"></script>
    <script>
      $('.tooltip-trigger').tooltip();
    </script>
  </body>
</html>
