{{define "head"}}
  <title>{{.Site.Title}} - {{.Post.Title}}</title>
  <link rel="canonical" href="{{.Post.Permalink}}" />
{{end}}
{{define "body"}}
  <h2>{{.Post.Title}}</h2>
  <div>{{.Post.Body}}</div>
{{end}}
