{{define "head"}}
  <title>{{.Site.Title}} - {{.Post.Title}}</title>
  <link rel="canonical" href="{{.Post.Permalink}}" />
{{end}}
{{define "body"}}
  <h2>{{.Post.Title}}</h2>
  <p class="muted metadata">
    <i class="icon-time"></i>
    {{.Post.FormattedDate}}
    <i class="icon-tags"></i>
    {{range .Post.Tags}}<a href="/tags/{{.}}">{{.}}</a> {{end}}
  </p>
  <div>{{.Post.Body}}</div>
{{end}}
