@import 'common/roomanna.config.css';

.slider {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.sliderInput {
}

.sliderDisplay {
  font-weight: bold;
}

/* Via http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--color-purple-light);
  border-radius: 25px;
  border: 3px solid var(--color-purple);
}
input[type=range]::-webkit-slider-thumb {
  border: 3px solid var(--color-purple);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: var(--color-purple-light);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--color-purple-light);
  border-radius: 25px;
  border: 3px solid var(--color-purple);
}
input[type=range]::-moz-range-thumb {
  border: 3px solid var(--color-purple);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: var(--color-purple-light);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c5bedc;
  border: 3px solid var(--color-purple);
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #e6e3f0;
  border: 3px solid var(--color-purple);
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  border: 3px solid var(--color-purple);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: var(--color-purple-light);
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--color-purple-light);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
