@import 'common/roomanna.config.css';

.editableText {
  padding: 5px;
  background: var(--color-purple-light);
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
  border-radius: 5px;
}
