---
# YAML Front Matter so this is rendered through a template.
---
@font-face {
  font-family: "Raleway";
  src: url('raleway_thin.otf') format("opentype");
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 14px Arial;
  margin: 0;
  padding: 0;
  background: #fafafa url('/img/bg-2.png');
  width: 100%;
}

#content {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.columns {
  display: -webkit-box;
  -webkit-box-orient: horizontal !important;
  -webkit-box-pack: center;
}

.columns > * {
  -webkit-box-orient: vertical;
}

#content > * {
  min-width: 850px;
  width: 80%;
}

body > header ,
.panel {
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

article .content {
  -webkit-box-flex: 1;
  text-align: justify;
  line-height: 140%;
  background: #fff;
}

article .content img {
  max-width: 98%;
  display: block;
  margin: 15px auto;
  border: 1px solid #999;
  padding: 1%;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #999;
}

h1, h2, h3 {
  margin: 10px 0;
  padding: 0;
  line-height: 82%;
}

p {
  margin: 10px 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  border: 0;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}

article {
  line-height: 130%;
}

a {
  color: #5577ee;
  text-decoration: none;
  border-bottom: 1px dotted #5577ee;
}
a:hover {
  border-bottom: 1px solid #5577ee;
  text-decoration: none;
}

.panel a {
  color: #000;
  border-bottom: 1px dotted #000;
}
.panel a:hover {
  border-bottom: 1px solid #000;
}

.index header a:hover  h2{
  text-decoration: underline;
}


body > header a {
  color: #666;
  border-bottom: 0;
}

body > header a:hover {
  border-bottom: 0;
}

body > header h1 {
  margin: 0;
  padding: 10px;
  font: 14px Arial;
}

body > header strong {
  color: #333;
}

header h2 {
  font-weight: normal;
  color: #444;
  margin: 0;
  padding: 0;
}

header h2 strong {
  text-shadow: 0 1px 1px #000;
  color: #000;
}

.index header h2 {
  font: 30pt Raleway;
  line-height: 30pt;
  color: #5577ee;
  text-shadow: 0 1px 2px #5577ee;
  margin: 0;
}

.post header h2 {
  font: 60pt Raleway;
  line-height: 60pt;
  margin: 20px 0;
}

.flex {
  -webkit-box-flex: 1;
}
.date {
  font: 20pt Raleway;
  line-height: 20pt;
  margin: 0 15px 0 0;
  padding: 15px 0;
}

.index .date {
  float: left;
  padding: 15px 0 0 0;
}

.sidebar strong {
  display: inline-block;
}

.sidebar h2 {
  margin-top: 20px;
}

.panel {
  background: #dfd url('/img/bg-2.png');
  padding: 10px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,64,0,0.3);
  margin-left: 20px;
  border: 1px solid rgba(0,64,0,0.3);
  max-width: 200px;
}
