---
# YAML Front Matter so this is rendered through a template.
---
@font-face {
  font-family: "Raleway";
  src: url('raleway_thin.otf') format("opentype");
}

@font-face {
  font-family: "Junction";
  src: url('Junction 02.otf') format("opentype");
}

@font-face {
  font-family: "League Gothic";
  src: url('League Gothic.otf') format("opentype");
}

@font-face {
  font-family: "CPMono";
  src: url('CPMono_v07 Bold.otf') format("opentype");
}

@font-face {
  font-family: "Vegur";
  src: url('Vegur-B 0.601.otf') format("opentype");
}

@font-face {
  font-family: "Tiza";
  src: url('tiza_chalk.ttf') format("truetype");
}

html {
  margin: 0;
  padding: 0;
}

body {
  font: 14px Arial;
  margin: 0;
  padding: 0;
  background: #fff;
}

#wrap {
}

#columns,
header.post {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}

#columns {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;

  display: box;
  box-orient: horizontal;
  box-align: stretch;
}

#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#sidebar {
  max-width: 200px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0; 
}



 

h1, h2, h3 {
  margin: 10px 0;
  padding: 0;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  border: 0;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}

article {
  line-height: 130%;
}

a {
  color: #88ACFF;
  border-bottom: 2px solid rgba(0,153,255,0.1);
}
a:hover {
  border-bottom-color: rgba(0,153,255,1.0);
}


#sidebar h2 {
  color: #aaa;
}
#sidebar h3 {
  color: #ccc;
}

#content img {
  max-width: 98%;
  display: block;
  margin: 10px auto;
  border: 1px solid #999;
  padding: 1%;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #999;
}

.panel {
  margin: 0 10px 10px 10px;
  border-radius: 10px;  
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  background: #fff;
}

section {
  padding: 10px;
}

.posttitle {
  background: #CFE0FF;
  font: 40px Arial;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  display: block;
}

.date,
.tags,
.links {
  font-size: 12px;
}

header {
  
}

header.site {
  background: #181C2C;
  background-image: -webkit-gradient(linear, left top, right top, 
    color-stop(0, rgba(0,0,0,0.7)), 
    color-stop(1.0, rgba(0,0,0,0.7)), 
    color-stop(0.05, rgba(0,0,0,0)), 
    color-stop(0.3, rgba(0,0,0,0))), 
    url('/img/bg.png');
  background-repeat: repeat;
  background-position: top left;
  -webkit-box-shadow: 0 2px 4px #666;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 10px;
}

header.site h1 {
  margin: 0;
  padding: 10px;
  font: 14px Junction;
}

header.site h1 a {
  color: #72778C;
  text-shadow: 0 0 0 #000;
  font-weight: normal;
  vertical-align: sub;
}

header.site h1 strong {
  color: #fff;
  font-weight: bold;
}

header.post h2 {
  padding: 10px 0;
  font-weight: normal;
  font: 80px Raleway;
  color: #72778C;
  text-shadow: 1px 1px 2px #999;
}
