{{define "head"}}
  <title>{{.Site.Title}} - All posts</title>
{{end}}
{{define "body"}}
  <header class="site-header">
    <h1>All posts</h1>
    <p class="nomargin">Ordered by date, newest at the top.</p>
  </header>
  <div class="postlist">
  {{range .Site.PostsByDate}}
    {{template "post-summary" .}}
  {{end}}
  </div>
  {{template "meta" .}}
{{end}}
