{{define "body"}}
  <header class="site-header">
    <span>Hi, my name is</span>
    <h1>Arne Roomann-Kurrik</h1>
    <span>This is my blog.</span>
  </header>
  <div class="post-list">
  {{range .Site.RecentPosts}}
    {{template "post-summary" .}}
  {{end}}
  </div>
  <nav class="site-pager" aria-label="Site navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link text-center" href="/archive.html">View all posts</a>
      </li>
    </ul>
  </nav>
  {{template "meta" .}}
{{end}}
