{{define "root"}}<!DOCTYPE html>
<html>
  <head>
    <title>Resume - Arne Roomann-Kurrik</title>
    <link rel="stylesheet" href="/static/css/resume.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

          <section class="row">
            <div class="col-sm-12">
              <h1>Arne Roomann-Kurrik</h1>
              <ul>
                <li>Open source: <a href="https://github.com/kurrik">github.com/kurrik</a></li>
                <li>Blog: <a href="http://blog.roomanna.com">blog.roomanna.com</a></li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h2>Professional experience</h2>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Twitter <small>San Francisco, CA</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Senior Software Engineer</td>
                  <td class="cv-dates">03/2014 - Present</td>
                </tr>
                <tr>
                  <td>Software Engineer</td>
                  <td class="cv-dates">11/2013 - 03/2014</td>
                </tr>
                <tr>
                  <td>Developer Advocate / Partner Engineer</td>
                  <td class="cv-dates">09/2011 - 11/2013</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 cv-description">
              <ul class="cv-list">
                <li>
                  Developed Twitter's in-app SMB advertiser signup flow.  Helped grow
                  total advertisers 90% year-over-year in Q4 2015.
                </li>
                <li>
                  Tech Lead for SMB
                  <a href="https://blog.twitter.com/2015/a-faster-way-for-small-and-medium-sized-businesses-to-promote-tweets">Quick Promote</a>
                  product after launch.
                </li>
                <li>
                  Tech Lead for analytics.twitter.com.  Grew user base from
                  &lt; 100k to 25M MAU.
                </li>
                <li>
                  Developer Relations for Twitter Firehose, REST API, and
                  Twitter Cards platforms. Technical support &amp; documentation.
                  Internal tool development. Assisted partners with Firehose
                  integrations.
                </li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Google <small>Mountain View, CA</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Developer Programs Engineer III</td>
                  <td class="cv-dates">11/2009 - 09/2011</td>
                </tr>
                <tr>
                  <td>Developer Programs Engineer II</td>
                  <td class="cv-dates">07/2008 - 11/2009</td>
                </tr>
                <tr>
                  <td>Associate Support Engineer II</td>
                  <td class="cv-dates">09/2007 - 07/2008</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 cv-description">
              <ul class="cv-list">
                <li>
                  Developer Relations for Google Chrome Extensions,
                  Google Chrome Web Store, HTML5, Google Friend Connect,
                  and OpenSocial developer products.
                </li>
                <li>
                  Presentations at Google I/O - 2008, 2009, 2010, 2011 on HTML5,
                  OpenSocial, Friend Connect.
                  Co-authored the OpenSocial specifications from version 0.6 through 1.0.
                </li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>WFI Inc <small>Burlington, NJ</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Developer</td>
                  <td class="cv-dates">06/2007 - 09/2007</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 cv-description">
              <ul class="cv-list">
                <li>
                  Developed integration between MS SharePoint 2007
                  and Sage SalesLogix CRM for web properties.
                </li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Infradapt <small>Easton, PA</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Developer</td>
                  <td class="cv-dates">09/2006 - 06/2007</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 cv-description">
              <ul class="cv-list">
                <li>
                  Web consultant for C# ASP.NET development.
                </li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>ConvaTec <small>Skillman, NJ</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Contractor - Global Marketing</td>
                  <td class="cv-dates">06/2005 - 09/2006</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 cv-description">
              <ul class="cv-list">
                <li>
                  Created touchscreen kiosk software for use in medical conferences.
                </li>
              </ul>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h2>Education</h2>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Stanford University, Center for Professional Development <small>Stanford, CA</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Mining Massive Data Sets Graduate Certificate</td>
                  <td class="cv-dates">07/2011 - 12/2013</td>
                </tr>
              </table>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Rutgers University <small>New Brunswick, CA</small></h3>
              <table class="cv-items">
                <tr>
                  <td>B.S., Computer Science</td>
                  <td class="cv-dates">09/2000 - 05/2005</td>
                </tr>
              </table>
            </div>
          </section>

          <section class="row">
            <div class="col-sm-12">
              <h3>Tartu University <small>Tartu, Estonia</small></h3>
              <table class="cv-items">
                <tr>
                  <td>Baltic Studies Program</td>
                  <td class="cv-dates">09/2003 - 05/2004</td>
                </tr>
              </table>
            </div>
          </section>

        </div>
      </div>
    </div>
  </body>
</html>
{{end}}

