/* Vars defined in common/_roomanna.config.scss */

.seriesA {
  fill: var(--color-red);
}

.seriesB {
  fill: var(--color-green);
}

.seriesC {
  fill: var(--color-blue);
}

.highlight {
  fill: var(--color-purple) !important;
}

.chart {
  border: 1px solid #d5d5d5;
}
