@font-face {
  font-family: "CPMono";
  src: url('CPMono_v07 Bold.otf') format("opentype");
}

@font-face {
  font-family: "Vegur";
  src: url('Vegur-B 0.601.otf') format("opentype");
}

@font-face {
  font-family: "Tiza";
  src: url('tiza_chalk.ttf') format("truetype");
}

html {
	margin: 0;
	padding: 0;
	background: #fff;
}

body {
	background: #cdc8bc;
  font: 14px Arial;
  margin: 0;
  padding: 0;
  border-top: 2px solid #fff;
}

header {
	background: -webkit-gradient(linear, left top, left bottom, 
	    color-stop(0.0, #efefe7), color-stop(0.7, #cdc8bc)) no-repeat;
	padding: 0 10px;
}	

h1, h2, h3 {
	font-family: Tiza;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 10px 0;
}
h1 a, h2 a, h3 a {
	color: #000;
	text-decoration: none;
	border: 0;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 25px;
}

article {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background: #efefe7;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	max-width: 700px;
	line-height: 130%;
}

a {
	color: rgba(0,153,255,1.0);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px solid rgba(0,153,255,0.1);
}
a:hover {
	border-bottom-color: rgba(0,153,255,1.0);
}

/*
h1 a {
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: #c18300;
  text-shadow: 0px 1px 4px rgba(0,0,0,0.7); 
	-webkit-text-stroke: 2px #fff; 
}


h1 a:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	content: "bike.roomanna.com";
	color: #66ccff;	
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
		  color-stop(0.0, rgba(0,0,0,1)), 
		  color-stop(0.3, rgba(0,0,0,1)),
		  color-stop(0.7, rgba(0,0,0,0)),
		  color-stop(1.0, rgba(0,0,0,0)));
}
*/

