body {
  background: #ccc;
}

.main {
  background: #fff;
  padding-bottom: 20px;
}

header.site,
footer.site {
  background: #fafafa url('/static/img/bg.png');
  font: 14px Arial;
  padding: 10px 0;
  margin: 0;
}

header.site {
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-bottom: 1px solid #999;
  box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
}

footer.site {
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: inset 0 3px 1px rgba(0,0,0,0.1), inset 0 -3px 1px rgba(0,0,0,0.1);
  color: #999;
}

header.site a,
footer.site a {
  color: #666;
  border-bottom: 0;
}

header.site a:hover,
footer.site a:hover {
  border-bottom: 0;
  text-decoration: none;
}

header.site strong,
header.site strong a,
footer.site strong {
  color: #333;
}

footer.site img {
  vertical-align: top;
}

iframe.twitter-share-button,
iframe.twitter-follow-button {
  position: relative;
  top: 5px;
}

img.centered {
  display: block;
  margin: 0 auto;
}

img.pull-right {
  margin-left: 15px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 .muted, h2 .muted, h3 .muted {
  font-weight: normal;
}

.content p, .content ul, .content ol, .content pre {
  margin-bottom: 15px;
}

.content h1, .content h2, .content h3, .content h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.posttitle {
  margin-bottom: 0 !important;
}

.postlist .metadata {
  margin-bottom: 5px;
}

.postlist .snippet p {
  margin: 5px 0;
}

.metadata a {
  color: #999 !important;
}

.centered {
  text-align: center;
}

.hero-unit {
  margin: 25px 0;
  background-color: #08c;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.hero-unit a {
  color: #111;
}

.hero-unit em {
  color: #111;
  font-style: normal;
}

.hero-unit h1 {
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 0;
}

.nomargin {
  margin: 0 !important;
}

i.icon-tags, i.icon-time {
  background-image: none;
}
