header.site a {
  color: #666;
  border-bottom: 0;
}

header.site a:hover {
  border-bottom: 0;
  text-decoration: none;
}

header.site strong {
  color: #333;
}

header.site {
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
  font: 14px Arial;
  padding: 10px 0;
  margin: 0;
  background: #fafafa url('/static/img/bg.png');
  border-bottom: 1px solid #999;
}

.metadata a {
  color: #999 !important;
}
