# Ignore everything
*

# and only upload these three targets
!blog.roomanna.com/build/**
!blog.roomanna.com/src/server/**
!app.yaml
!go.mod

# Explicitly allow current dir. `gcloud deploy` fails without it.
!blog.roomanna.com
!blog.roomanna.com/build
!blog.roomanna.com/src
!blog.roomanna.com/src/server
!.
