{{define "body"}}
  <div class="hero-unit">
    <h1><em>All posts</em></h1>
    <p class="nomargin">Ordered by date, newest at the top.</p>
  </div>
  {{range .Site.PostsByDate}}
    <h3 class="posttitle"><a href="{{.Path}}">{{.Title}}</a></h3>
    <p class="muted metadata">
      <i class="icon-time"></i>
      {{.FormattedDate}}
      <i class="icon-tags"></i>
      {{range .Tags}}<a href="/tags/{{.}}">{{.}}</a> {{end}}
    </p>
    <div>{{.Snippet}} <a href="{{.Path}}" class="">Read more...</a></div>
  {{end}}
{{end}}
