{{define "head"}}
  <title>{{.Site.Title}} - All posts</title>
{{end}}
{{define "body"}}
  <div class="hero-unit">
    <h1>All posts</h1>
    <p class="nomargin">Ordered by date, newest at the top.</p>
  </div>
  <div class="postlist">
  {{range .Site.PostsByDate}}
    <h3 class="posttitle"><a href="{{.Path}}">{{.Title}}</a></h3>
    <p class="muted metadata">
      <i class="icon-time"></i>
      {{.FormattedDate}}
      <i class="icon-tags"></i>
      {{range .Tags}}<a href="/tags/{{.}}">{{.}}</a> {{end}}
    </p>
    <div class="snippet">{{.Snippet}} <a href="{{.Path}}" class="readmore">Read more...</a></div>
  {{end}}
  </div>
  { {template "meta" .} }
{{end}}
