{{define "body"}}
  <h1>All posts</h1>
  {{range .Site.PostsByDate}}
    <h4><a href="{{.Path}}">{{.Title}}</a></h4>
    <p class="muted metadata">
      <i class="icon-time"></i>
      {{.FormattedDate}}
      <i class="icon-tags"></i>
      {{range .Tags}}<a href="/tags/{{.}}">{{.}}</a> {{end}}
    </p>
    <div>{{.Snippet}}</div>
  {{end}}
{{end}}
