{{define "body"}}
  <div class="hero-unit">
    <p class="nomargin">Hi, my name is</p>
    <h1>Arne Roomann-Kurrik</h1>
    <p class="nomargin">
      This is my blog.
    </p>
  </div>
  <div class="accounts">
    <h3 class="posttitle">Elsewhere</h3>
      <a target="_blank" rel="me" href="https://twitter.com/kurrik">Twitter</a> (@kurrik)
      <a target="_blank" rel="me" href="https://github.com/kurrik">Github</a> (kurrik)
      <a target="_blank" rel="me" href="https://plus.google.com/+kurrik?rel=author">Google+</a> (+kurrik)
      <a target="_blank" rel="me" href="https://linkedin.com/in/kurrik">Linkedin</a> (kurrik)
  </div>
  <div class="tagcounts">
    <h3 class="posttitle">Tags</h3>
    {{range $tc := .Site.TagCounts}}
      <a class="tag" href="/tags/{{$tc.Tag}}">{{$tc.Tag}}</a> ({{$tc.Count}})
    {{end}}
  </div>
  <div class="postlist">
  {{range .Site.RecentPosts}}
    <h3 class="posttitle"><a href="{{.Path}}">{{.Title}}</a></h3>
    <p class="muted metadata">
      <i class="icon-time"></i>
      {{.FormattedDate}}
      <i class="icon-tags"></i>
      {{range .Tags}}<a href="/tags/{{.}}">{{.}}</a> {{end}}
    </p>
    <div class="snippet">{{.Snippet}} <a href="{{.Path}}" class="readmore">Read more...</a></div>
  {{end}}
  </div>
  <ul class="pager centered">
    <li><a href="/archive.html">View all posts</a></li>
  </ul>

{{end}}
