@import 'common/roomanna.config.css';

.histogram {
  --bar-fill: var(--color-black);
}
.histogram.blue {
  --bar-fill: var(--color-blue);
}
.histogram.red {
  --bar-fill: var(--color-red);
}
.histogram.yellow {
  --bar-fill: var(--color-yellow);
}
.histogram.green {
  --bar-fill: var(--color-green);
}
.histogram.purple {
  --bar-fill: var(--color-purple);
}

.axis path, .axis line {
    fill: none;
    stroke: var(--color-black);
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
}

.series {
}

.bar {
  fill: var(--bar-fill);
}

.chart {
}

.label {
  font-weight: bold;
}
