.gallery {
  width: 100%;
  margin-bottom: 20px;
}

.gallery img {
  box-sizing: content-box;
}

.gallery figure {
  background: #222;
  color: #fff;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.gallery figcaption {
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
  line-height: 1;
}

.gallery figcaption.reference {
  background: #efefef;
}
